#
# $Id: clusters.sample,v 1.1 2001-07-14 05:17:32 garlick Exp $
# $Source: /g/g0/achu/temp/genders-cvsbackup-full/genders/clusters.sample,v $
#
slc slc0,slc1,slc2,slc3,slc4,slc5,slc6,slc7,slc8,slc9,slc10,slc11,slc12,slc13,slc14,slc15
reto reto0,reto1,reto2,reto3,reto4,reto5,reto6,reto7,reto8,reto9,reto10,reto11,reto12,reto13,reto14,reto15
auk auk0,auk1,auk2,auk3,auk4,auk5,auk6,auk7,nanook,orca
intel deuterium,tritium,useltonium,retonium,danemaster,disocuri01,disocuri02,cyclops01,cyclops02
alphadesk miata,plutonium,moray,holodeck
fc fc0,fc1,fc2,fc3,fc4,fc5,fc6,fc7,fc8,fc9,fc10,fc11,fc12,fc13,fc14,fc15,fc16,fc17,fc18,fc19,fc20,fc21,fc22,fc23,fc24,fc25,fc26,fc27,fc28,fc29,fc30,fc31,fc32,fc33,fc34,fc35,fc36,fc37,fc38,fc39,fc40,fc41,fc42,fc43,fc44,fc45,fc46,fc47,fc48,fc49,fc50,fc51,fc52,fc53,fc54,fc55,fc56,fc57,fc58,fc59,fc60,fc61,fc62,fc63
