#
# $Id: Distfile.sample,v 1.1 2001-07-14 05:17:32 garlick Exp $
# $Source: /g/g0/achu/temp/genders-cvsbackup-full/genders/Distfile.sample,v $
#

MISCETC = (
	misc/profile
	misc/resolv.conf
	misc/ssh_config
	misc/sshd_config
	misc/securetty
)


miscetc:  ${MISCETC} -> ${attr_all}
	install /etc;

MISC_HOSTSALLOW_EXCEPT = (${intel!attr_all} ${fc!attr_all} ${alphadesk!attr_moray})
hostsallow: misc/hosts.allow -> ${attr_all} - ${MISC_HOSTSALLOW_EXCEPT}
	install /etc/hosts.allow;
hostsallow: misc/hosts.allow.intel -> ${intel!attr_all}
	install /etc/hosts.allow;
hostsallow: misc/hosts.allow.fc -> ${fc!attr_all}
	install /etc/hosts.allow;
hostsallow: misc/hosts.deny.fc -> ${fc!attr_all}
	install /etc/hosts.deny;
hostsallow: misc/hosts.allow.moray -> ${alphadesk!attr_moray}
	install /etc/hosts.allow;

hostsequiv: misc/hosts.equiv -> ${attr_all}
	install /etc/hosts.equiv;

hosts:	misc/hosts.tmpl -> ${attr_all} - (${slc!attr_all} ${fc!attr_all})
	install /etc/hosts.tmpl;
	special "umask 022 && cat $REMFILE | sed s/!.*!// >/etc/hosts";
hosts:	misc/hosts.tmpl -> ${slc!attr_all}
	install /etc/hosts.tmpl;
	special "umask 022 && cat $REMFILE | sed s/!SLC_RMSHOST!/rmshost/ | sed s/!FC_RMSHOST!// >/etc/hosts";
hosts:	misc/hosts.tmpl -> ${fc!attr_all}
	install /etc/hosts.tmpl;
	special "umask 022 && cat $REMFILE | sed s/!FC_RMSHOST!/rmshost/ | sed s/!SLC_RMSHOST!// >/etc/hosts";

printcap: misc/printcap -> ${attr_all}
	install /etc/printcap;
	special "/admin/scripts/printcap_dirs";

rc: misc/rc.local -> ${attr_all}
	install /etc/rc.d/rc.local;
rc: misc/rc.netfs -> ${attr_all}
	install /etc/rc.d/init.d/netfs;

inittab: misc/inittab.auk -> ${auk!attr_can}
	install /etc/inittab;
	special "/sbin/telinit q";
inittab: misc/inittab.slc -> ${slc!attr_all}
	install /etc/inittab;
	special "/sbin/telinit q";
inittab: misc/inittab.fc -> ${fc!attr_all}
	install /etc/inittab;
	special "/sbin/telinit q";

ti: misc/xterm.cti -> ${attr_all}
	install /usr/share/terminfo/x/xterm;

rootprofile: misc/root.profile -> ${attr_all}
	install /root/.profile;

rootrhosts: misc/root.rhosts -> ${attr_all}
	install /root/.rhosts;

issue: misc/llnl.issue -> ${attr_all}
	install /etc/issue;
	install /etc/issue.net;
	install /etc/motd;

pam: misc/rlogin.pamconf -> ${attr_all}
	install /etc/pam.d/rlogin;
pam: misc/login.pamconf -> ${attr_all}
	install /etc/pam.d/login;
pam: misc/pam_krb5.so_alpha -> (${slc!attr_all} ${alphadesk!attr_all})
	install /lib/security/pam_krb5.so;
pam: misc/pam_krb5.so_intel -> ${intel!attr_all}
	install /lib/security/pam_krb5.so;
pam: misc/pam_krb5.so_sparc -> ${auk!attr_all}
	install /lib/security/pam_krb5.so;
pam: misc/krb5.conf -> ${attr_all}
	install /etc/krb5.conf;

ntp: misc/step-tickers -> ${attr_all} - ${attr_ntpserv}
	install /etc/ntp/step-tickers;
ntp: misc/step-tickers.serv -> ${attr_ntpserv}
	install /etc/ntp/step-tickers;
ntp: misc/ntp.conf -> ${attr_all} - ${attr_ntpserv}
	install /etc/ntp.conf;
	special "/etc/rc.d/init.d/xntpd restart";
ntp: misc/ntp.conf.serv -> ${attr_ntpserv}
	install /etc/ntp.conf;
	special "/etc/rc.d/init.d/xntpd restart";

MISC_SYSLOG_SPEC = (${attr_jimtest} ${fc!attr_all})
syslog: misc/syslog.conf -> ${attr_all} - ${MISC_SYSLOG_SPEC}
	install /etc/syslog.conf;
	special "/etc/rc.d/init.d/syslog restart";
syslog: misc/syslog.conf.fc -> ${fc!attr_all}
	install /etc/syslog.conf;
	special "/etc/rc.d/init.d/syslog restart";
syslog: misc/syslog.conf.jimtest -> ${attr_jimtest} - ${attr_jimtestlog}
	install /etc/syslog.conf;
	special "/etc/rc.d/init.d/syslog restart";
syslog: misc/syslog.conf.jimtestlog -> ${attr_jimtestlog}
	install /etc/syslog.conf;
	special "/etc/rc.d/init.d/syslog restart";

crash: misc/fc.crashrc -> ${fc!attr_all}
	install /var/dumps/.crashrc;

services: misc/services.add -> ${attr_all}
	install /etc/services.add;
	special "if [ -x /admin/scripts/updateservices ]; then /admin/scripts/updateservices; else rm /etc/services.add; fi";

supertab: misc/super.tab -> ${attr_all}
	install /admin/etc/super.tab;

can: misc/canhosts.auk -> ${auk!attr_all}
	install /etc/canhosts;
can: misc/canobj -> ${auk!attr_all}
	install /etc/canobj;

inetd: misc/inetd.conf.slc -> ${slc!attr_all}
	install /etc/inetd.conf;
	special "/usr/bin/killall -HUP inetd";
inetd: misc/inetd.conf.intel -> ${intel!attr_all}
	install /etc/inetd.conf;
	special "/usr/bin/killall -HUP inetd";
inetd: misc/inetd.conf.fc -> ${fc!attr_all}
	install /etc/inetd.conf;
	special "/usr/bin/killall -HUP inetd";
inetd: misc/inetd.conf.auk -> ${auk!attr_all}
	install /etc/inetd.conf;
	special "/usr/bin/killall -HUP inetd";

gnats-db.conf: misc/gnats-db.conf.deuterium -> ${intel!attr_gnatshost}
	install /etc/gnats-db.conf;

httpd.conf: misc/httpd.conf -> ${intel!attr_web}
	install /etc/httpd/conf/httpd.conf;
srm.conf: misc/srm.conf -> ${intel!attr_web}
	install /etc/httpd/conf/srm.conf;
access.conf: misc/access.conf -> ${intel!attr_web}
	install /etc/httpd/conf/access.conf;
	special "/etc/rc.d/init.d/httpd restart";
